.main {
    margin: 0 auto;
    max-width: 1366px;
    background-size: cover;
    background-image: url(../images/background.png);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1028px;
    padding-top: 51px;
    height: 61px;
}

.main-nav-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    background-image: url(../images/logo.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.main-nav-link:hover {
    transition: 0.7s;
    background-image: url(../images/logo-hover.svg);
}
.main-nav :hover p {
    color: #f26522;
    transition: 0.7s;
}

.nav-logo-text {
    margin-left: 63px;
}

.nav-text {
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #fff;
    align-items: center;
}

.nav-text.second {
    font-size: 18px;
    line-height: 18px;
}

.main-nav-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.main-nav-contacts:hover {
    color: #f26522;
    transition: 0.7s;
}

.main-content {
    width: 1030px;
    margin: 22px auto 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}

.main-content-img a {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.main-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 37px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.main-content-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 300px;
    height: 220px;
}

.main-content-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 300px;
    height: 220px;
    border-image: linear-gradient(#fff, #000) 30;
    border-width: 3px;
    border-style: solid;
}

.image-1 {
    background-image: url(../images/image-1.png);
}
.image-2 {
    background-image: url(../images/image-2.png);
}
.image-3 {
    background-image: url(../images/image-3.png);
}
.image-4 {
    background-image: url(../images/image-4.png);
}
.image-5 {
    background-image: url(../images/image-5.png);
}
.image-6 {
    background-image: url(../images/image-6.png);
}

.main-content-block-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 16px 12px;
    width: 100%;
    height: 55px;
    background-color: #f26522;
    font-family: "Roboto";
    font-style: normal;
    box-sizing: border-box;
    opacity: 0;
}

.main-content-img a:hover .main-content-block-footer {
    display: flex;
    opacity: 1;
    /* transition: 1s; */
    transition: 0.5s;
    transform: translateY(0);
}

.main-content-img a:hover .main-content-title {
    color: #f26522;
    transition: 1s;
}

.main-content-block-footer-left {
    font-size: 20px;
}

.main-content-block-footer-left-span {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    padding-bottom: 8px;
}

.main-content-block-footer-right::after {
    content: '\003e' ;
    margin-left: 16px;
    color: #fff;
}

.main-footer {
    width: 1028px;
    margin: 12px auto 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}
